In [1]:
import pandas as pd

In [2]:
file = pd.read_csv('data/survey_responses.csv')
responses = pd.DataFrame(file)
responses

,Career,Citizenship,Nationality,Year since Matriculation,Year of Study,Primary Programme,Gender,Department,Housing Type,Q1-How many events have you Volunteered in ?,Q2-How many events have you Participated in ?,Q3-How many activities are you Interested in ?,Q4-How many activities are you Passionate about ?,Q5-What are your levels of stress ?,Q6-How Satisfied You are with your Student Life ?,Q7-How much effort do you make to interact with others ?,Q8-About How events are you aware about ?,response_id,Q9-What is an ideal student life ?
0,UGRD,Foreigner,Indonesia,2,2,Bachelor of Science,F,School of Science,Residences,0,1,3,1,1,2,2.0,2.0,1,NaN
1,UGRD,Country Citizen,Singapore,1,1,Bachelor of Engineering,F,School of Engineering,Out of Campus,0,1,2,3,1,2,2.0,3.0,2,Friends+CCas+good result
2,UGRD,Foreigner,Malaysia,2,2,Bachelor of Science,M,School of Science,Halls,3,1,1,5,2,2,2.0,2.0,3,just want everything to go smooth. serious
3,UGRD,Foreigner,Malaysia,2,2,Bachelor of Engineering,M,School of Engineering,Halls,3,4,3,3,7,1,1.0,1.0,4,NaN
4,UGRD,Foreigner,Viet Nam,3,3,Bachelor of Engineering,F,School of Engineering,Out of Campus,4,3,4,5,4,2,2.0,2.0,5,a mixture of both academic and non-academic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2953,UGRD,Country Citizen,Singapore,1,1,Bachelor of Science,F,School of Science,Out of Campus,0,1,5,8,3,2,NaN,NaN,2954,The ideal student life is about able to balanc...
2954,UGRD,Country Citizen,Singapore,2,2,"Bach. of Med.,Bach. of Surg.",M,School of Medicine1,Out of Campus,1,1,5,2,1,2,NaN,NaN,2955,Work-life balance with time for leisure activi...
2955,GRAD,Foreigner,China,1,1,Master of Science (Track 1),F,School of Science,Out of Campus,0,1,1,2,1,3,NaN,NaN,2956,NaN
2956,GRAD,Foreigner,China,4,4,Doctor of Philosophy (FoE),M,School of Engineering,Out of Campus,3,2,6,2,3,3,NaN,NaN,2957,NaN
2957,UGRD,Permanent Resident,China,1,1,Bachelor of Science,F,School of Science,Halls,2,2,4,2,3,2,NaN,NaN,2958,My ideal student life is having study-life bal...

In [3]:
responses = responses[responses['Career']== 'UGRD']
responses = responses.drop(columns=['Career',
                                    'Citizenship',
                                    'Nationality',
                                    'Year since Matriculation',
                                   'Q1-How many events have you Volunteered in ?',
                                   'Q3-How many activities are you Interested in ?',
                                   'Q4-How many activities are you Passionate about ?',
                                   'Q8-About How events are you aware about ?',
                                   'response_id',
                                   'Q9-What is an ideal student life ?'])

responses

,Year of Study,Primary Programme,Gender,Department,Housing Type,Q2-How many events have you Participated in ?,Q5-What are your levels of stress ?,Q6-How Satisfied You are with your Student Life ?,Q7-How much effort do you make to interact with others ?
0,2,Bachelor of Science,F,School of Science,Residences,1,1,2,2.0
1,1,Bachelor of Engineering,F,School of Engineering,Out of Campus,1,1,2,2.0
2,2,Bachelor of Science,M,School of Science,Halls,1,2,2,2.0
3,2,Bachelor of Engineering,M,School of Engineering,Halls,4,7,1,1.0
4,3,Bachelor of Engineering,F,School of Engineering,Out of Campus,3,4,2,2.0
...,...,...,...,...,...,...,...,...,...
2951,2,Bachelor of Arts,F,School of Arts & Social Science,Out of Campus,1,4,2,NaN
2952,1,Bachelor of Science (SOC),M,School of Computing,Residential Colleges,1,4,1,NaN
2953,1,Bachelor of Science,F,School of Science,Out of Campus,1,3,2,NaN
2954,2,"Bach. of Med.,Bach. of Surg.",M,School of Medicine1,Out of Campus,1,1,2,NaN
2957,1,Bachelor of Science,F,School of Science,Halls,2,3,2,NaN

In [4]:
responses.to_csv('ClenData.csv')